{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'listings/styles.css' %}">
    <title>Merchex</title>
</head>
<body>
    <header>
        <nav>
            <a href="{% url 'bands' %}">Groupes</a>
            <a href="{% url 'listings' %}">Annonces</a>
            <a href="{% url 'about' %}">A propos</a>
            <a href="{% url 'contact' %}">Nous contacter</a>
        </nav>
    </header>

    {% block content %}
    {% endblock %}

    <footer>
        <p>Datetime: {% now 'd-m-y, h:i:s' %}</p>        
    </footer>
</body>
</html>