{% extends 'listings/base.html' %}
{% block content %}

<h1>Annonces</h1>
<ul>
    {% for listing in listings %}
        <li>
            <a href="{% url 'listing_details' listing.id %}">{{ listing.title | upper }}</a>
            -- <a href="{% url 'listing_update' listing.id %}"><button>Modifier</button></a>
            <a href="{% url 'listing_delete' listing.id %}"><button>Supprimer</button></a>
        </li>
    {% endfor %}
</ul>
<p>Creer une <a href="{% url 'listing_create' %}">nouvelle annonce</a> ?</p>

{% endblock %}